body {
    font-family:'Times New Roman', Times, serif;
    color:bisque;
    font-size:20px;
    background-color:black;
}

button{
    font-family:'Times New Roman', Times, serif;
    background-color: bisque;
    color:black;
}